@font-face {
  font-family: 'Assistant';
  src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
  font-weight:800;
  font-style: normal;
}
@font-face {
  font-family: 'AssistantR';
  src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./opensanshebrew-bold-webfont.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansR';
  src: url('./opensanshebrew-light-webfont.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Kesaria';
  src: url('./FUP\ Caesarea\ -\ Bold.ttf') format('truetype');
 
  font-style: normal;
}
@font-face {
  font-family: 'KesariaR';
  src: url('./FUP\ Caesarea\ -\ Light.ttf') format('truetype');
 font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hatzor';
  src: url('./FUP\ Hatzor\ -\ SemiBold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'HatzorR';
  src: url('./FUP\ Hatzor\ -\ Light.ttf') format('truetype');
  font-style: normal;

}
@font-face {
  font-family: 'HeeboR';
  src: url('./Heebo-VariableFont_wght.ttf') format('truetype');
   font-weight: 300;
  font-style: normal;
}